<html lang="es-mx">

    <head>
        <meta charset="utf-8">
        <title>
            {pageTitle}
        </title>
        
        <!-- Le styles -->
        <link href="_3rd_party/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="_3rd_party/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="login_operadora/css/lo_styles.css" rel="stylesheet" type="text/css" />


       
        <!--[if lt IE 9]>
          <script src="https://html5shim.googlecode.com/svn/trunk/html5.js">
          </script>
        <![endif]-->
        {head}
    </head>
    <body>
        <div id="topnavbar" class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="?section=login_operadora&modulo=menu" style="margin-top: 0px;">
                        {botonLogin}
                    </a> 
                    <a class="brand" href="index.php">
                        Operadora MaxiPuntos
                    </a> 
                    {headerLogueado}
                </div>
            </div>
        </div>
        <div id="content" class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="span3">
                    {left}     
                </div>
                <div class="span9" style="padding-top: 20px;">
                    {content}   
                </div>
            </div>
            <div class="row" id="contenido">
                <div class="well" id="container-result" style="min-height: 400px">
                    {top}  
                    {container}
                    {forms}
                    {message}
                </div>
            </div>
        </div>
        <pre></pre>
        <script src="_3rd_party/bootstrap/js/jquery.min.js"></script>
        <script src="_3rd_party/bootstrap/js/bootstrap.js"></script>
        <script src="login_operadora/js/lo_tools.js"></script>  

    </body>

</html>